html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  font-family: "Helvetica", serif;
  background-image: linear-gradient(45deg, #25c998, #1a1d53);
  color: white;

  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content{
  flex-grow: 1;
}

.marg {
  margin-right: 10px;
}
#logo {
  width: 100px;
  height: 100px;
}
.social-links {
  margin: auto;
  width: 50%;
  text-align: center;
}
#next {
  float:right;
  font-size:50px;
  position : fixed;
  top:45%;
  left:90%;
  padding: 0px 5px 9px 5px;
  z-index: 1;
}
#prev:hover, #next:hover {
  background-color: #888888;
}
#prev{
  float:left;
  font-size:50px;
  position : fixed;
  top:45%;
  left:4%;
  padding: 0px 5px 9px 5px;
  z-index: 1;
}
.name {
  background-color: black;
  background-image: linear-gradient(45deg, #1a1d53, #25c998);
  background-image: conic-gradient(red, yellow, green);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
#footer{
  position: fixed;
  bottom:0;
  width:100%;
}
.footer_text{
  text-align: center;
}
