body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", serif;
  background-image: linear-gradient(45deg, #25c998, #1a1d53);
  color: white;
}
.marg {
  margin-right: 10px;
}
#logo {
  width: 100px;
  height: 100px;
}
.social-links {
  margin: auto;
  width: 50%;
  text-align: center;
}
#next {
  float:right;
  font-size:50px;
  position :absolute;
  top:50%;
  left:95%;
}
#prev{
  float:left;
  font-size:50px;
  position :absolute;
  top:50%;
  left:5%;
}
#resume{
  border:2px solid black !important;
  position :relative;
  left:45%;
  margin:10px 0px 15px 0px;
  text-decoration : bold;
}
.name {
  background-color: black;
  background-image: linear-gradient(45deg, #1a1d53, #25c998);
  background-image: conic-gradient(red, yellow, green);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
